.slogan-and-sentence {
  box-shadow: 0px 4px 4px #00000040;
  display: flex;
  height: 87px;
  justify-content: center;
  left: 302px;
  position: absolute;
  top: 305px;
  width: 193px;
}

.dishes-5 {
  height: 87px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: -2px;
  text-shadow: 0px 4px 4px #00000040;
  width: 191px;
}

.slogan-and-sentence.slogan-and-sentence-1 {
  align-items: center;
}

