.first-course {
  background-color: var(--cod-gray);
  border: 1px none;
  display: flex;
  height: 100vh;
  min-height: 1080px;
  min-width: 1920px;
  mix-blend-mode: hard-light;
  overflow: hidden;
  position: relative;
  width: 100%;
}

